body {
    font-family: Roboto;
    background-color:#F0F0F0;
    color:#000000; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Corben";
    text-align: center;
    font-size:40pt;
}

h2 {
    margin: 0.1em;
}
header {
    text-align:center;
}

#hero, footer {
    color: #000000;
    background-color: #D5EAFA;
    border: 2px solid #000000 ;
    text-align:center;
    padding:10px;
}


/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hobbies */

#Hobbies {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 2rem;
}
#Hobbies  ul li {
    text-align:left;
    color: rgb(7, 7, 129);
}

/* Gallery */

#Gallery {
    border: 2px solid #000000;
}

#Gallery img {
    max-width:100%;
}

#Gallery figure {
    text-align:center;
}

/* Video */

#Video {
    border: 2px solid black;
    margin-bottom: 2rem;
}

/* Literature */

#Lit {
    border: 2px solid #000000;
    margin-bottom: 2rem;
}

#Lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}
#Lit div p {
    padding: 0.3rem 0;
    clear:both;
} 

/* Dropcaps */

#Lit div p:first-child:first-letter {
    color:rgb(65, 65, 222);
    float:left;
    font-size:3em;
    padding:.25em;
    margin-right:.25em;
    line-height:.65;
    border:3px solid black;
    text-shadow: 2px 2px 3px rgb(37, 35, 35);
    box-shadow: 5px 5px 5px rgb(37, 35, 35);
    border-top-left-radius:.2em;
    border-bottom-right-radius:.2em;
}

/* Tablet size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns:2fr 1fr;
    }

figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
}

figure img {
    max-width: 100%;
}

#Lit div {
    max-width: 100%;
    columns: 40rem;
 }

}
/* Large screen size */

@media screen and (min-width: 100em) {

     #Gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
     }
    
  hr {
    display: none;
 }

 #Gallery h2 {
    grid-column: 1/-1;
 }

 figure {
    display: block;
 }
}
#Video {
    display: landscape;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}

#Video figcaption {
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

#myVideo {
    width: 100%;
    display: block;
    margin: auto;
    padding: .25em;
}

/* Contact Form */

#FormElements {
    display: grid;
    row-gap: .5em;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
}

fieldset { 
    border: 2px solid black;
    margin-top: 1em;
    margin-bottom: 1em;
    border-radius: 2rem;
}
legend {
    background-color: rgb(169, 218, 255);
    color: black;
    padding: .5em;
}

#contact input, #contact textarea, #contact select, #contact button {
    padding: .5em;
    font-size: 1rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: rgb(169, 218, 255);
    color: black;
    border: 1px solid black;
    max-width: 400px;
    width: 50%;
    justify-self: center;
}